<section class="py-16 sm:py-20 bg-white dark:bg-black">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-4 sm:gap-6">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl dark:text-white text-black">About Us</h1>
      <p class="dark:text-white text-black mx-auto max-w-xl text-lg sm:text-xl">
        We are a non-profit foundation focused on building and renovating schools in underserved communities across Africa. Our mission is to provide access to quality education for every child, creating opportunities that break the cycle of poverty and empower future generations.

      </p>
    </div>
  </div>
</section>
