<section class="bg-[url('/assets/photo3.jpeg')] bg-cover bg-center filter grayscale py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight text-white sm:text-6xl">About Us</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class=" text-white text-base sm:text-lg">
          We are a non-profit foundation focused on building and renovating schools in underserved communities across Africa. Our mission is to provide access to quality education for every child, creating opportunities that break the cycle of poverty and empower future generations.
        </p>
        <a
          href="/about"
          class="bg-white dark:bg-white  dark:text-black inline-flex items-center justify-center rounded-md border border-transparent px-5 py-3 font-medium transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Read about us
        </a>
      </div>
    </div>
  </div>
</section>
