<section class="py-16 sm:py-20 bg-white dark:bg-black">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class=" flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
    >
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="dark:text-white mx-auto max-w-lg text-3xl font-medium tracking-tight sm:text-6xl">
          Let's make something amazing together
        </h2>
        <p class="text-primary-950/70 dark:text-white mx-auto max-w-2xl text-lg">
          We'd love to hear from you! Whether you want to donate, volunteer, or learn more about our work, reach out to us.
        </p>
      </div>
     <div>
      <a
      href="/contact"
      class="bg-black dark:bg-white text-white dark:text-black inline-flex items-center justify-center rounded-md border border-transparent px-12 py-2 text-base font-medium transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
    >
      Donate
    </a> 
     </div>
    </div>
  </div>
</section>
