---
// const services = [
//   {
//     step: '01',
//     name: 'Design',
//     description:
//       'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
//   },
//   {
//     step: '02',
//     name: 'Develop',
//     description:
//       'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
//   },
//   {
//     step: '03',
//     name: 'Maintain',
//     description:
//       'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.',
//   },
// ];

---

<section class="bg-white dark:bg-primary-950 py-16 sm:py-10">
  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
      <p class="mx-auto mt-2 max-w-lg text-balance text-center text-4xl font-semibold tracking-tight dark:text-white sm:text-5xl">What we do</p>
      <div class="mt-10 grid gap-4 sm:mt-16 lg:grid-cols-3 lg:grid-rows-2">
        <div class="relative lg:row-span-2">
          <div class="absolute inset-px rounded-lg bg-[url('/assets/photo2.jpeg')] bg-cover bg-center filter grayscale lg:rounded-l-[2rem]"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
            
            <div class="relative min-h-[30rem] w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm">
            </div>
            <div class="px-8 pb-16">
              <p class="mt-2 text-lg/7 font-medium tracking-tight text-white max-lg:text-center">School Construction and Renovation</p>
              <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">The foundation builds new schools in rural and underserved areas, ensuring they are safe, child-friendly, and conducive to learning.</p>
            </div>   
            <!-- <div class="absolute inset-x-10 bottom-0 top-10 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-700 bg-gray-900 shadow-2xl">
                <img class="size-full object-cover object-top" src="https://tailwindui.com/plus/img/component-images/bento-03-mobile-friendly.png" alt="">
              </div> -->
          </div>
          <div class="pointer-events-none absolute  rounded-lg shadow ring-1 ring-black/5 lg:rounded-l-[2rem]"></div>
        </div>
        <div class="relative max-lg:row-start-1">
          <div class="absolute inset-px rounded-lg bg-[url('/assets/photo6.jpeg')] bg-cover bg-center filter grayscale max-lg:rounded-t-[2rem]"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)]">
            <div class="relative min-h-[15rem] w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm">
            </div>
            <div class="px-8 pb-16">
              <p class="mt-2 text-lg/7 font-medium tracking-tight text-white max-lg:text-center">Provision of Educational Resources</p>
              <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">The foundation equips schools with essential learning materials such as textbooks, desks, computers, and stationery.</p>
            </div>
            
            <!-- <div class="flex flex-1 items-center justify-center px-8 max-lg:pb-12 max-lg:pt-10 sm:px-10 lg:pb-2">
              <img class="w-full max-lg:max-w-xs" src="https://tailwindui.com/plus/img/component-images/bento-03-performance.png" alt="">
            </div> -->
          </div>
          <div class="pointer-events-none absolute  rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-t-[2rem]"></div>
        </div>
        <div class="relative max-lg:row-start-3 lg:col-start-2 lg:row-start-2">
          <div class="absolute inset-px rounded-lg bg-[url('/assets/photo3.jpeg')] bg-cover bg-center filter grayscale"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)]">
            <div class="relative min-h-[15rem] w-full grow [container-type:inline-size] max-lg:mx-auto max-lg:max-w-sm">
            </div>
            <div class="px-8 pb-16">
              <p class="mt-2 text-lg/7 font-medium tracking-tight text-white max-lg:text-center">Teacher Training and Development</p>
              <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">To ensure quality education, the foundation offers professional development programs for teachers.</p>
            </div>
            <!-- <div class="flex flex-1 items-center [container-type:inline-size] max-lg:py-6 lg:pb-2">
              <img class="h-[min(152px,40cqw)] object-cover object-center" src="https://tailwindui.com/plus/img/component-images/bento-03-security.png" alt="">
            </div> -->
          </div>
        </div>
        <div class="relative lg:row-span-2">
          <div class="absolute inset-px rounded-lg bg-[url('/assets/photo5.jpeg')] bg-cover bg-center filter grayscale max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
          <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]">
           
            <div class="relative min-h-[30rem] w-full grow">
              <div class="absolute bottom-0 left-10 right-0 top-10 overflow-hidden rounded-tl-xl bg-gray-900 shadow-2xl">
                <div class="flex bg-gray-800/40 ring-1 ring-white/5">
                 
                </div>
                <div class="px-6 pb-14 pt-6">
                  <!-- Your code example -->
                </div>
              </div>
            </div>
            <div class="px-8 pb-16">
              <p class="mt-2 text-lg/7 font-medium tracking-tight text-white max-lg:text-center">Community Engagement and Sustainability Initiatives</p>
              <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">we  works closely with local communities to foster sustainable educational practices. we aimintroduce solar power, water filtration systems, or agricultural projects in schools, ensuring the facilities remain functional and environmentally sustainable over time..</p>
            </div>
          </div>
          <div class="pointer-events-none absolute rounded-lg shadow ring-1 ring-black/5 max-lg:rounded-b-[2rem] lg:rounded-r-[2rem]"></div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Services</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div> -->
</section>
